.custom-select-button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #595959 0, #212121 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #0aaf0a;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    padding: 0 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.custom-select-button:focus {
    box-shadow: #ec3838 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ec3838 0 -3px 0 inset;
}

.custom-select-button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ec3838 0 -3px 0 inset;
    transform: translateY(-2px);
}

.custom-select-button:active {
    box-shadow: #ec3838 0 3px 7px inset;
    transform: translateY(2px);
}

.input {
    background-color: #0F0F0F;
    width: 250px;
    height: 40px;
    padding: 10px;
    border: 1px solid #555555; /* Bordure subtile */
    border-radius: 5px;
    color: #0aaf0a;
    outline: none;
    font-size: 16px;
    transition: box-shadow .1s, transform .1s;
}

.input:focus {
    color: #ffffff; /* Texte plus clair en focus */
    background-color: #0F0F0F;
    border-color: #0aaf0a; /* Bordure de focus visible */
    box-shadow: 0 0 10px 0 #0aaf0a;
    transform: scale(1.02);
}

.input::placeholder {
    color: #0aaf0a;
}


.custom-select {
    background-color: #0f0f0f;
    max-width: 250px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #0aaf0a;
    appearance: none;
    font-size: 16px;
    border: 1px solid #555555; 
}

.custom-select:focus {
    color: #0aaf0a;
    background-color: #0f0f0f;
    box-shadow: 0 0 10px 0 #0aaf0a;
    transform: scale(1.02);
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100vh;
    padding: 16px;
}

p {
    color: #0aaf0a;
}
